.landing-page {
    color: white;
    text-align: center;
    margin-top: 16rem;
    font-size: 20px;
    height: 80vh;
    width: 100%;
  }
  
  .landing-btn {
    padding: 1rem;
    border: none;
    border-radius: 05rem;
  }
  
  .landing-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: auto;
    margin-top: 5rem;
  }
  
  .landing-btns .shopping_list-link {
    background-color:  rgb(255,227,195);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    color:  rgb(124,17,17);
    text-decoration: none;
    margin-right: 30px;
  }
  
  .landing-btns .form-link {
    background-color:  rgb(255,227,195);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    color: rgb(124,17,17);
    text-decoration: none;
  }

  .p1{
    color: rgb(255,227,195);
  }